<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find Users</title>
    <link href="/css/styles.css" rel="stylesheet">
    <script src="/js/script.js" defer></script>
</head>
<body>
<header>
    <h1><a href="/" class="invisible-link">TAG ME</a></h1>
</header>
<div class="container">
    <aside class="sidebar">
        <nav>
            <div sec:authorize="isAuthenticated()">
                <a th:href="@{/user/{id}(id=${#authentication.principal.id})}" class="button">Моя страница</a>
            </div>
            <button id="randomSearch">Поиск рандом</button>
            <button id="tagSearch">Поиск по тегам</button>
            <form th:action="@{/logout}" method="post" sec:authorize="isAuthenticated()">
                <button type="submit">Выход</button>
            </form>

        </nav>
    </aside>
    <main class="user-content">
        <form id="filterForm" action="/find/byFilter" method="get">
            <select id="genderSelect" name="gender">
                <option value="">Выберите пол...</option>
                <option value="m">Мужской</option>
                <option value="w">Женский</option>
            </select>
            <select id="tagSelect" name="tag">
                <option value="">Выберите тег...</option>
                <!-- Динамически заполненные опции тегов -->
                <option th:each="tag : ${distinctTags}" th:value="${tag}" th:text="${tag}"></option>
            </select>
            <!-- Скрытые поля для сохранения состояния пагинации -->
            <input type="hidden" name="page" id="pageInput" value="${current_page}" />
            <input type="hidden" name="limit" value="${limit}" />
            <button type="submit">Поиск</button>
        </form>
        <div class="user-list">
            <!-- Динамически созданные элементы пользователей -->
            <div th:each="user : ${users}" class="user-item">
                <a th:href="@{/user/{id}(id=${user.id})}" class="user-link">

                    <div class="user-photo" th:if="${user.photoList.size() > 0}">
                        <img th:src="${user.photoList[0].fileLink}" alt="Фото пользователя"/>
                    </div>
                    <div class="user-info">
                        <h3 th:text="${user.name}">Имя пользователя</h3>
                        <p th:text="${user.date}">Дата рождения</p>
                        <p th:text="${user.description}">Описание</p>
                    </div>
                </a>
            </div>
        </div>

        <div class="pagination">
            <a th:each="pageNumber : ${page_numbers}"
               th:href="@{/find/random(page=${pageNumber}, limit=5)}"
               th:text="${pageNumber}"
               th:classappend="${pageNumber == current_page ? 'button-style active' : 'button-style'}">
            </a>
        </div>
    </main>
</div>
<script>
    function submitFormWithPage(pageNumber) {
        document.getElementById('pageInput').value = pageNumber;
        document.getElementById('filterForm').submit();
    }
</script>
</body>
</html>